$assetsPath: "../../static/"
$imgAssetsPath: "../../static/img/"
$fontsAssetsPath: "../../static/fonts/"
$dimLength: 2s
$dimOpacity: .85
$smallHeroDivWidth: 350px * 3
$bodyFont: 'Montserrat', sans-serif
$globalColor: rgba(255,255,255,.87)
$smallHeroRadius: 20px
$globalBlueColor: rgb(19,160,255)

@import url("http://fonts.googleapis.com/css?family=Montserrat")

@mixin box-sizing($bs)
  -webkit-box-sizing: $bs
  -moz-box-sizing: $bs
  box-sizing: $bs

@mixin border-radius($radius) 
  -webkit-border-radius: $radius
  -moz-border-radius: $radius
  -ms-border-radius: $radius
  border-radius: $radius

@mixin box-shadow
  -webkit-box-shadow: inset 0 0 50px black, inset 0 0 50px black, inset 0 0 50px black
  -moz-box-shadow: inset 0 0 50px black, inset 0 0 50px black, inset 0 0 50px black
  box-shadow: inset 0 0 50px black, inset 0 0 50px black, inset 0 0 50px black

@mixin dimAnimationMixin($dim)
  -webkit-animation: dimAnimation $dim
  animation: dimAnimation $dim
  -webkit-animation-iteration-count: 1
  animation-iteration-count: 1
  -webkit-animation-fill-mode: forwards

@mixin unDimAnimationMixin($dim)
  -webkit-animation: unDimAnimation $dim
  animation: unDimAnimation $dim

@mixin radialGradient
  background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,.35) 0%, rgba(0,0,0,0) 75%)
  background: -webkit-gradient(radial, center center, 0px, center center, 75%, color-stop(0%,rgba(255,255,255,.35)), color-stop(75%,rgba(0,0,0,0)))
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,.35) 0%,rgba(0,0,0,0) 75%)
  background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,.35) 0%,rgba(0,0,0,0) 75%)
  background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,.35) 0%,rgba(0,0,0,0) 75%)
  background: radial-gradient(ellipse at center, rgba(255,255,255,.35) 0%,rgba(0,0,0,0) 75%)

@mixin rotateAndTranslate($deg,$x,$y)
  -ms-transform: rotate($deg) translate($x,$y) /* IE 9 */
  -webkit-transform: rotate($deg) translate($x,$y) /* Chrome, Safari, Opera */
  transform: rotate($deg) translate($x,$y)

@mixin translate($x,$y)
  -ms-transform: translate($x,$y) /* IE 9 */
  -webkit-transform: translate($x,$y) /* Chrome, Safari, Opera */
  transform: translate($x,$y)

@font-face 
  font-family: caviarDreams
  src: url($fontsAssetsPath + "basictitlefont.ttf")

@-webkit-keyframes dimAnimation 
  from 
    opacity: $dimOpacity
  to 
    opacity: 1
@keyframes dimAnimation 
  from 
    opacity: $dimOpacity
  to 
    opacity: 1
@-webkit-keyframes unDimAnimation 
  from 
    opacity: 1
  to 
    opacity: $dimOpacity
@keyframes unDimAnimation 
  from 
    opacity: 1
  to 
    opacity: $dimOpacity

div
  display: block

body 
  -webkit-font-smoothing: antialiased
  height: auto
  min-height: 100% 
  background-color: black
  color: $globalColor
  h1, h2, h3, h4, p, li 
    font-family: $bodyFont
    text-shadow: black 0.1em 0.1em 0.2em
  h1 
    font-size: 295% 
    font-weight: 100
  a 
    color: $globalColor
    opacity: .9
    text-decoration: none
  a:hover
    text-decoration: underline

.wrapper
  box-sizing: border-box

.centerText 
  text-align: center

.large
  font-size: 100px

.center
  margin: 0 auto

// For the about page
.imgCenter 
  position: relative
  left: 50%
  width: 800px
  height: 500px
  margin-left: -400px /* Half the width */

/* Begin Navbar CSS */

#navBar
  width: auto
  margin: 0 auto
  ul
    list-style-type: none 
    text-align: center
    padding-top: 10px
    li
      display: inline
      a:hover 
        // color: $globalColor .75
        // background-color: $globalColor
        @include radialGradient
    li a
      padding: .9em 1em 
      color: $globalColor
      img
        max-height: 65px
        max-width: 75px
        height: auto
        width: auto

.contentList
  a:hover 
    color: $globalColor
    background-color: #fff
    @include border-radius(5px) 
    margin: 0 auto 

hr.horizontalSeparator 
  border: 0 
  height: 0px
  position: relative
  margin: 0.5em 0 /* Keep other elements away from pseudo elements*/

hr.horizontalSeparator:before 
  top: -0.5em
  height: .3em

hr.horizontalSeparator:after 
  content: " "
  height: 0.5em   /* half the height of :before */
  top: 1px    /* height of hr*/

hr.horizontalSeparator:before, hr.horizontalSeparator:after 
  content: " "
  position: absolute
  width: 100%

hr.horizontalSeparator, hr.horizontalSeparator:before 
  @include radialGradient

body, hr.horizontalSeparator:after 
  background: #000

hr.horizontalSeparatorAlt
  border: 0
  height: 1px
  border-top: 1px solid rgba(0, 0, 0, 0.1)
  border-bottom: 1px solid $globalBlueColor


/* End Navbar CSS */

/* Begin Hero Unit CSS */
#heroUnit
  height: 92%
  @include box-shadow
  a:hover
    color: $globalBlueColor

.smallHeroDivSect
  border-top: 1px solid #000
  position: relative
  .smallHeroDiv
    position: relative
    width: 100%
    max-width: $smallHeroDivWidth
    margin: 0 auto
  :after
    content: " "
    display: block
    width: 100%
    height: 1px
    position: absolute
    top: 0
    z-index: 1
  ul
    display: table
    width: 100%
  div
    display: block
    height: 100%
    position: relative
    z-index: 1
    .smallHeroUnits
      padding: 20px 15px 0px 20px
      position: relative
      left: 0
      bottom: 0 
      h4
        font-weight: 600
        position: absolute
        padding: 0 0 6px 5px
        bottom: 0
        left: 0
      &:hover
        h4
          color: $globalBlueColor

    li
      background-position: center top
      display: table-cell
      margin: 0
      position: relative
      background-size: cover
      height: 220px
      border: 1px solid black
      box-shadow: 0px 0px 10px white
    li:hover
      @include dimAnimationMixin($dimLength)
    li:first-child:after
      background-position: left
    li:before, li:after
      content: " "
      display: block
      position: absolute
      float: left
      width: 100%
      height: 100%
      left: 0
      bottom: 0
        
// #smallHeroDiv2
//   li
//     &:nth-child(1)
//       border-top-left-radius: 0px
//     &:nth-child(3)
//       border-top-right-radius: 0px  
//     &:nth-child(1)
//       border-bottom-left-radius: $smallHeroRadius
//     &:nth-child(3)
//       border-bottom-right-radius: $smallHeroRadius

/* End Hero Unit CSS */

/* About Page */
.logoReel
  img
    max-height: 50px
    max-width: 50px
    height: auto
    width: auto
    padding-right: 15px

/* Body List */

.bodyListImg
  display: block
  margin: 0

.bodyList
  display: inline-block
  float: left
  width: 450px
  img
    float: left
    position: relative
  hr
    padding-bottom: 10px

.bodyListHeaders
  color: $globalBlueColor
  line-height: 0px  

.bodyListContent  
  height: 140px
  &:before
    content: " "
    display: block
    height: 0
    overflow: hidden
  &:after
    content: " "
    display: block
    height: 0
    overflow: hidden
  &:hover
    h4
      color: $globalBlueColor
  img 
    max-height: 140px

.bodyListItems
  position: relative
  float: right
  text-align: left
  width: 50%
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  -ms-box-sizing: border-box
  -o-box-sizing: border-box
  box-sizing: border-box
  padding: 0px 0px 0px 0px
  margin-top: -5%
  overflow: hidden

.upcommingDiv
  width: 390px
  float: right
  width: 300px
  margin-right: 38%
  h3
    padding-left: 0px
    color: $globalBlueColor
  p
    font-size: 8px
    padding-left: 63px
  th, td
    text-align: center
    padding: 5px
  tr
    disply: table-cell
  th
    border-bottom: 2px solid $globalBlueColor
    border-left: 0px
    border-right: 0px

.bodyContent
  margin-left: 25%
  p
    font-size: 14px

/* End Body List */


/* background setup */

.background
  background-repeat: no-repeat
  /* custom background-position */
  background-position: 50% 50%
  /* ie8- graceful degradation */
  background-position: 50% 50%9 !important

/* End background setup */

/* KEEP AT BOTTOM OR FIGURE OUT WHATS UP */
/* fullscreen setup */
html, body
  /* give this to all tags from html to .fullscreen */
  height: 100%

.fullscreen, .content-a
  width: 100%
  min-height: 100%

.not-fullscreen, .fullscreen.not-overflow
  height: 100%
  overflow: hidden
  .content-a
    height: 100%
    overflow: hidden

/* content centering styles */

.content-a
  display: table
  text-align: center
.content-b
  display: table-cell
  position: relative
  vertical-align: middle
  text-align: center

ul, ol, dl
  margin: 0
  list-style: none
  list-style-image: none
/* THIS BETTER STILL BE THE BOTTOM */

/* Individual Article Setup */

#articleHero
  height: 75%
  -webkit-box-shadow: inset 0 0 50px black, inset 0 0 50px black, inset 0 0 50px black
  -moz-box-shadow: inset 0 0 50px black, inset 0 0 50px black, inset 0 0 50px black
  box-shadow: inset 0 0 50px black, inset 0 0 50px black, inset 0 0 50px black

.listHero
  height: 50%
  -webkit-box-shadow: inset 0 0 50px black, inset 0 0 50px black, inset 0 0 50px black
  -moz-box-shadow: inset 0 0 50px black, inset 0 0 50px black, inset 0 0 50px black
  box-shadow: inset 0 0 50px black, inset 0 0 50px black, inset 0 0 50px black


.circle
  margin: 0 auto
  display: block
  width: 100px
  height: 100px
  @include border-radius(66px)
  border: 4px double #ccc
  font-size: 20px
  color: #ffffff
  line-height: 50px
  text-align: center
  text-decoration: none
  text-shadow: 0 1px 0 #fff
  background: rgba(255,255,255,.3)
    
article
  margin: 0 25%

/* End Individual Article Setup */

/* List Grid Setup */

.grid
  width: 660px
  margin: 0 auto
  display: block
  li
    float: left
    height: 250px
    width: 200px
  a:hover
    color: $globalBlueColor

.listContent
  h2
    padding-top: 88px
  &:hover
    h2
      color: $globalBlueColor

.listContentItems
  -webkit-box-shadow: 1px 1px 8px grey
  -moz-box-shadow: 1px 1px 8px grey
  box-shadow: 1px 1px 8px grey

.listContentItems-group1
  transition: width 1s
  height: 200px
  width: 100%
  &:hover
    width: 105%

.listContentItems-group2
  transition: width 1s
  height: 200px
  width: 75%
  &:hover
    width: 80%

.listContentItems-group3
  transition: width 1s
  height: 200px
  width: 50%  
  &:hover
    width: 55%

.listContentItems-group4
  transition: width 1s
  height: 200px
  width: 100%
  &:hover
    width: 105%

.listContentItems-group5
  transition: width 1s
  height: 200px
  width: 100%
  &:hover
    width: 105%


/* End List Grid Setup */

/* Search */

#st-results-container 
  margin: 0 27%
  a 
    display: block
    padding: 20px 0px
    line-height: 1.5
    &:hover
      background-color: rgba(19,160,255, .4)
      text-decoration: none
      @include border-radius(20px)
    h3
      font-size: 150%
      color: white
    p
      color: gray
    em
      color: $globalBlueColor
      display: inline-block
      padding: 0 3px

#st-search-input
  background: black
  @include border-radius(5px)
  border: 1px solid black
  outline: none 
  height: 25px 
  width: 25px
  display: inline
  transition: width 1.5s, box-shadow 1.5s, border 1.5s, background-image 1.5s
  background-image: url("../images/searchIcon.png") 
  background-repeat: no-repeat
  color: white
  &:hover
    box-shadow: 0 0 5px #DDD inset
    border: 1px solid #DDD
    background-image: none
    width: 200px

/* End Search */

/* Footer */

.Footer
  display: inline-block
  padding-top: 50px
/* End Footer */

/* Clearfix */

.group:after 
  content: ""
  display: table
  clear: both

/* End Clearfix */

video
  width: 100%
  height: auto

/* Grid Setup */

*
  @include box-sizing(border-box)

$padding: 20px

.grid2
  background: black
  margin: 0 0 $padding 0
  &:after
    content: ""
    display: table
    clear: both

[class*='col-']
  float: left
  padding-right: $padding
  .grid2 &:last-of-type
    padding-right: 0

.col-2-3
  width: 66.66%

.col-1-3
  width: 33.33%

.col-1-2
  width: 50%

.col-1-4
  width: 25%

.col-1-8
  width: 12.5%

/* End Grid Setup */

/* Podcast Page */

.pCastAudio
  padding-top: 20px
  height: 50px
  width: 300px

.pCastItems
  padding-top: 30px
  text-align: center

.innerColDiv
  width: 50%
  height: 275px
  padding-bottom: 50px
  margin: 0 auto
  @include border-radius(5px)
  transition: width 1s, background 1s
  &:hover
    width: 55%

$alpha: .6

.red
  background: rgba(233,64,90,$alpha)
  background-image: url('http://www.latetitlecard.com/static/images/downloadIcon.png')
  background-size: cover
  &:hover
    background: rgba(233,64,90,1)
    background-image: url('http://www.latetitlecard.com/static/images/downloadIcon.png')
    background-size: cover

.blue
  background: rgba(0,171,234,$alpha)
  background-image: url('http://www.latetitlecard.com/static/images/iTunesLogo.png')
  background-size: cover
  &:hover
    background: rgba(0,171,234,1)    
    background-image: url('http://www.latetitlecard.com/static/images/iTunesLogo.png')
    background-size: cover

.orange
  background: rgba(250,186,45,$alpha)
  background-image: url('http://www.latetitlecard.com/static/images/rssLogo.png')
  background-size: cover
  &:hover
    background: rgba(250,186,45,1)
    background-image: url('http://www.latetitlecard.com/static/images/rssLogo.png')
    background-size: cover

/* End Podcast Page */