{% extends "templates/partials/base.html" %}

{# This sets our page <title>. It will append this movies's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ item.name }}{% endblock %}

{% block content %}

  <div class="not-fullscreen background parallax not-overflow" id="articleHero" style="background-image:url('http://static.comicvine.com/uploads/original/9/99801/3650073-guardians-of-the-galaxy-hi-res-photo-1.jpg');" data-img-width="1920" data-img-height="1080">
    <div class="content-a">
      <div class="content-b">
        <h2>
          Review: Guardians of the Galaxy
        </h2>
        <h3>
          {{ item.deck }}
        </h3>
        <h4>Augest 1 2014</h4>
        <h4>By Matthew Whitesides</h4>
        <div class="circle">
          <h2>
            6.5/5
          </h2>
        </div>
      </div>
    </div>
  </div>

  <div style="margin: 0 27%"  class="customArticle">
    <h2>Hi there this is stuff that you would put here in the top section.</h2>

    Primo slide bluntslide skate or die nollie rad full pipe hardware. Front foot impossible yeah hanger lip kidney Bare Cover handplant regular footed. Tic-tac kick-nose carve Gator Mark Anthony vert wheels slide skate or die. Boardslide mini ramp lip crail slide sick lien air slappy. Gnarly wax indy grab bearings smith grind New Deal pump feeble. 270 axle crail slide bank fast plant Rob Welsh 900 flypaper. Deck flail Agent Orange axle set sponsored locals 270 gnar bucket. Ray Barbee poseur lip gnar bucket yeah boned out grab flail. Bank Saran Wrap gnarly body varial bail vert Tracker. Rails sketchy pump acid drop sponsored switch tic-tac. Video Days spine rad hard flip 1080 nose-bump boardslide ollie north. Wheels nosebone salad grind switch poseur shinner snake Jason Jesse. Method air Tim May slap maxwell sponsored camel back poseur flypaper opposite footed.

    Sketchy rail hospital flip handplant alley oop. Nose blunt ollie Elissa Steamer hang up g-turn bluntslide. Mini ramp nose slide impossible Ron Allen alley oop full pipe. Risers ollie north hospital flip nose blunt hard flip. Chicken wing skate or die fakie out Kevin Ancell grab melancholy. Boardslide axle backside soul skate varial. Roll-in face plant switch Spanky mute-air casper slide. Flail chicken wing yeah bruised heel disaster. Birdie half-cab Billy Ruff ho-ho hardware pressure flip.
  </div>

    <div class="not-fullscreen background parallax overflow" id="articleParallax" style="background-image:url('http://static.comicvine.com/uploads/original/0/40/4000149-guardians-of-the-galaxy-milano.jpg');" data-img-width="1920" data-img-height="1080">
      <div class="content-a">
        <div class="content-b"x>
        <div class="customAtricleParallax">
            <h2>Hi there this is stuff that you would put here in the top section.</h2>
            <p>
              Frontside air stalefish coper hang-up birdie boardslide. Coper Japan air slam slide slappy g-turn. Tailslide mongo 180 rail slide kickflip boned out. Locals powerslide gap rails baseplate method air. Poseur vert lien air bearings air kingpin. Hurricane bluntslide Agent Orange hospital flip backside manual boned out. Bearings Chris Haslam rock and roll crailtap face plant judo air stalefish. Cess slide rail chicken wing dude nose grab ho-ho. Judo air rip grip shoveit poseur berm launch ramp. Rocket air sick gap frontside grind Ray Underhill boneless. Tuna-flip front foot impossible concave shoveit bluntslide handplant.
            </p>
            <p>
              50-50 Steve Rocco smith grind kidney wall ride. Berm pivot wall ride frontside Randy Ruiz. Frontside crooked grind Rat Bones risers tic-tac. Launch ramp soul skate deck coffin. Invert hurricane vert S.K.A.T.E. camel back. Tailslide helipop wax nosepicker. Pogo crail grab soul skate baseplate Bam Margera. China Banks kick-nose pop shove-it bluntslide bruised heel. Speed wobbles mongo noseblunt slide Primo slide. 360 skate or die stalefish half-flip. Helipop ho-ho method air ollie north. Impossible tail Shawn Dutton frontside air nose blunt. Casper slide regular footed Shorty's body varial slap maxwell.
            </p>
            <p>
              Frontside air stalefish coper hang-up birdie boardslide. Coper Japan air slam slide slappy g-turn. Tailslide mongo 180 rail slide kickflip boned out. Locals powerslide gap rails baseplate method air. Poseur vert lien air bearings air kingpin. Hurricane bluntslide Agent Orange hospital flip backside manual boned out. Bearings Chris Haslam rock and roll crailtap face plant judo air stalefish. Cess slide rail chicken wing dude nose grab ho-ho. Judo air rip grip shoveit poseur berm launch ramp. Rocket air sick gap frontside grind Ray Underhill boneless. Tuna-flip front foot impossible concave shoveit bluntslide handplant.
            </p>
            <p>
              Frontside air stalefish coper hang-up birdie boardslide. Coper Japan air slam slide slappy g-turn. Tailslide mongo 180 rail slide kickflip boned out. Locals powerslide gap rails baseplate method air. Poseur vert lien air bearings air kingpin. Hurricane bluntslide Agent Orange hospital flip backside manual boned out. Bearings Chris Haslam rock and roll crailtap face plant judo air stalefish. Cess slide rail chicken wing dude nose grab ho-ho. Judo air rip grip shoveit poseur berm launch ramp. Rocket air sick gap frontside grind Ray Underhill boneless. Tuna-flip front foot impossible concave shoveit bluntslide handplant.
            </p>                                
          </div>
        </div>
      </div>
    </div>
  
  <div style="margin: 0 27%" class="customArticle">
    50-50 Steve Rocco smith grind kidney wall ride. Berm pivot wall ride frontside Randy Ruiz. Frontside crooked grind Rat Bones risers tic-tac. Launch ramp soul skate deck coffin. Invert hurricane vert S.K.A.T.E. camel back. Tailslide helipop wax nosepicker. Pogo crail grab soul skate baseplate Bam Margera. China Banks kick-nose pop shove-it bluntslide bruised heel. Speed wobbles mongo noseblunt slide Primo slide. 360 skate or die stalefish half-flip. Helipop ho-ho method air ollie north. Impossible tail Shawn Dutton frontside air nose blunt. Casper slide regular footed Shorty's body varial slap maxwell.

    Masonite melancholy pop shove-it crail slide. Shoe Goo Christ air wall ride rail slide backside. Nose yeah skater kidney. Pogo fakie pump half-flip. Transfer bank Rob Dyrdek Primo slide frigid air. Heel flip regular footed stalefish 270. Crail slide face plant manual Sidewalk Surfer bluntslide. Thrasher full pipe bone air pressure flip heel flip. Blind dude rip grip gap pool. Rip grip concave camel back bank. Camel back smith grind kick-nose World Industries locals.
  </div>

  <div id="videoContainer">
<!--     <div id="videoText">
      50-50 Steve Rocco smith grind kidney wall ride. Berm pivot wall ride frontside Randy Ruiz. Frontside crooked grind Rat Bones risers tic-tac. Launch ramp soul skate deck coffin. Invert hurricane vert S.K.A.T.E. camel back. Tailslide helipop wax nosepicker. Pogo crail grab soul skate baseplate Bam Margera. China Banks kick-nose pop shove-it bluntslide bruised heel. Speed wobbles mongo noseblunt slide Primo slide. 360 skate or die stalefish half-flip. Helipop ho-ho method air ollie north. Impossible tail Shawn Dutton frontside air nose blunt. Casper slide regular footed Shorty's body varial slap maxwell.

      Masonite melancholy pop shove-it crail slide. Shoe Goo Christ air wall ride rail slide backside. Nose yeah skater kidney. Pogo fakie pump half-flip. Transfer bank Rob Dyrdek Primo slide frigid air. Heel flip regular footed stalefish 270. Crail slide face plant manual Sidewalk Surfer bluntslide. Thrasher full pipe bone air pressure flip heel flip. Blind dude rip grip    gap pool. Rip grip concave camel back bank. Camel back smith grind kick-nose World Industries locals.
    </div> -->

    <video loop autoplay muted preload=”auto” id="textVideo" controls>
        <source src="../static/video/guardiansClip.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
  
  </div>
  
  <style type="text/css">
    .customArticle {
      padding: 10px 0 10px 0;
      font-size: 18px;
    }
    #articleParallax {
      -webkit-box-shadow: inset 0 0 50px black, inset 0 0 50px black, inset 0 0 50px black;
      -moz-box-shadow: inset 0 0 50px black, inset 0 0 50px black, inset 0 0 50px black;
      box-shadow: inset 0 0 50px black, inset 0 0 50px black, inset 0 0 50px black;  
    }
    .customAtricleParallax {
      margin: 0 50% 0 30px;
      font-size: 20px;
    }
    #videoText {
      position:absolute;
      background-color: orange;
      float:left;
        width: 100%;
        min-height:370px;
        background-color:#000;
        z-index:300000;
    }
    #videoContainer {
      width: 100%;
      height: auto;
    }
  </style>

{% endblock %}