{% set types = getTypes() %} 

  <div id="navBar">
    <ul>
      {% for type in types %}
        {% if loop.index == 4 %}
          <li><a href="/"><img src="http://www.latetitlecard.com/static/images/ltcNavBar.png" id="logoImg"></a>                
        {% endif %}
        <li><a href="{{ url(type) }}">{{ type.name }}</a></li>
      {% endfor %}  
      <li><a href="/about/">About</a></li>
      <li>
          <form id="search-form" class="search-form" style="display: inline">
            <input type="text" id="st-search-input">
          </form>
      </li>
    </ul>          
  </div>