{# ------------------------------------------------------- #}

{# LIST VIEW OF ALL articles #}

{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}

{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}

{# ------------------------------------------------------- #}

{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/help/template-inheritance/ #}
{% extends "templates/partials/base.html" %}

{# This sets our page <title>. It will append articles to the site title defined in base.html #}
{% block title %}{% parent %} - articles{% endblock %}

{% block content %}

  {# The first thing we do is call articles data from the CMS. #}
  {% set data = get('articles') %}

  {# Next we sort the data by publish_date. The true bit reverses it so it's newest first. Learn more: #}
  {# http://www.webhook.com/docs/template-rules-and-filters/#sortproperty_reverseorder #}
  {% set data = data|sort('publish_date', true) %}

  {# This is how you set pagination. It's always important to do this after your sort. #}
  {% set data = paginate(data, 5) %}

  <h1 class="centerText">Articles</h1>

  {% for item in data %}
    {% if loop.first %}
      <div class="not-fullscreen background parallax not-overflow listHero" style="background-image:url('{{ item.header_image|imageSize(2048) }}');" data-img-width="2048" data-img-height="1556">
        <div class="content-a">
          <div class="content-b heroText">
            <a href="{{ url(item) }}"> 
              <h2>
                {{ item.name }}
              </h2>
              <h3>
                {{ item.summary_text }}
              </h3>
              <h4>{{ item.last_updated|date('F d Y') }}</h4>
              <h4>By {{ item.author }}</h4>
            </a>
          </div>
        </div>
      </div>  
    {% endif %}
  {% endfor %}
  
  {% for item in data %}
    <div class="listContent grid2">
        <div class="col-1-4">&nbsp;</div>
          <a href="{{ url(item) }}">
            <div class="col-1-2">
              <div class="listContentItems listContentItems-group{{ loop.index }}" style="background-image:url('{{ item.header_image|imageSize(1920) }}'); background-position:center;">
                <h2 class="centerText">{{ item.name }}</h2>
              </div>
            </div>
          </a>
        <div class="col-1-4">&nbsp;</div>
    </div>
  {% endfor %}

  {# The actual pagination template, feel free to edit or replace the default one. #}
  {% include "templates/partials/paginator.html" %}

{% endblock %}