{# YOUR HOMEPAGE #}

{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}

{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}

{# ------------------------------------------------------- #}

{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/help/template-inheritance/ #}
{% extends "templates/partials/base.html" %}

{% include "templates/partials/paginator.html" %}

{# This sets our page <title>. It will append "- Homepage" to the site title defined in base. #}
{% block title %}{% parent %} - Home{% endblock %}

{# First, grab the articles from the CMS #}
{% set items = get('articles','movies', 'podcast', 'videogames', 'tv') %}
{% set listReviews = get('movies', 'videogames', 'tv') %}
{% set listNews = get('articles', 'podcast') %}
{% set heroItems = get('articles','movies', 'podcast', 'videogames', 'tv') %}
 
{% block content %} 

  {% for heroItem in heroItems|sort('publish_date', true)|slice(0,1) %} 
    <div class="not-fullscreen background parallax not-overflow" id="heroUnit" style="background-image:url('{{ heroItem.header_image|imageSize(2048) }}');" data-img-width="2048" data-img-height="1556">
      <div class="content-a">
        <div class="content-b">
          <a href="{{ url(heroItem) }}" class="heroText">
            <h2>
              {% if heroItem._type|lower === 'movies' %}
                Movie Review: {{ heroItem.name }}
              {% elseif heroItem._type|lower === 'articles' %}
                Breaking News: {{ heroItem.name }}
              {% elseif heroItem._type|lower === 'tv' %}
                Television Review: {{ heroItem.name }}
              {% elseif heroItem._type|lower === 'podcast' %}
                Podcast: {{ heroItem.name }}
              {% else %}
                Video Game Review: {{ heroItem.name }}
              {% endif %}
            </h2>
            <h4>
              {{ heroItem.deck }}
              {{ heroItem.summary_text }}
            </h4>
            <h4>{{ heroItem.last_updated|date('F d Y') }}</h4>
          </a>
        </div>
      </div>
    </div>
  {% endfor %}

  <br><br>

  <section class="smallHeroDivSect">
    <div class="smallHeroDiv">
      <ul>
        {% for item in items|sort('publish_date', true)|slice(1,3) %} 
          <li style="background-image: url({{ item.small_header_image|imageSize(350) }})">
            <div>
              <a href="{{ url(item) }}">
                <div class="smallHeroUnits">
                  <h4>
                    {% if item._type|lower === 'movies'  %}
                      Movie Review: {{ item.name }}
                    {% elseif item._type|lower === 'articles' %}
                      News: {{ item.name }}
                    {% elseif item._type|lower === 'tv' %}
                      Television Review: {{ item.name }}
                    {% elseif item._type|lower === 'podcast' %}
                      Podcast: {{ item.name }}
                    {% else %}
                      Video Game Review: {{ item.name }}
                    {% endif %}
                  </h4>
                </div>
              </a>
            </div>
          </li>
        {% endfor %} 
      </ul>  
    </div>
  </section>

  <section class="smallHeroDivSect" >
    <div class="smallHeroDiv" id="smallHeroDiv2">
      <ul>
        {% for item in items|sort('publish_date', true)|slice(4,3) %} 
          <li style="background-image: url({{ item.small_header_image|imageSize(350) }})">
            <div>
              <a href="{{ url(item) }}">
                <div class="smallHeroUnits">
                  <h4>
                    {% if item._type|lower === 'movies'  %}
                      Movie Review: {{ item.name }}
                    {% elseif item._type|lower === 'articles' %}
                      News: {{ item.name }}
                    {% elseif item._type|lower === 'tv' %}
                      Television Review: {{ item.name }}
                    {% elseif item._type|lower === 'podcast' %}
                      Podcast: {{ item.name }}
                    {% else %}
                      Video Game Review: {{ item.name }}
                    {% endif %}
                  </h4>
                </div>
              </a>
            </div>
          </li>
        {% endfor %} 
      </ul>  
    </div>
  </section>

  <br><br><hr class="horizontalSeparator" style="margin: 0 15%"></hr><br>

  <section class="bodyContent group">

    <div class="bodyList group">
      <h3 class="bodyListHeaders">Reviews:</h3>
      <hr class="horizontalSeparatorAlt">
      <ul>
        {% for listReview in listReviews|sort('publish_date', true)|slice(2,4) %} 
          <li>
            <div class="bodyListContent">
              <a href="{{ url(listReview) }}" class="bodyListAnchor">
                <img src="{{ listReview.small_header_image|imageSize(200) }}" alt="{{ listReview.name }}" class="bodyListImg">
                <div class="bodyListItems centerText">
                  <h4>
                    {% if listReview._type|lower === 'movies'  %}
                      {{ listReview.name }}
                    {% elseif listReview._type|lower === 'tv' %}
                      {{ listReview.name }}
                    {% else %}
                      {{ listReview.name }}
                    {% endif %}
                  </h4>
                  <p>
                    {{ listReview.deck }}
                  </p>              
                </div>  
              </a>
            </div>
            {% if not loop.last %}
              <hr class="horizontalSeparator"></hr>
            {% endif %}
          </li>
        {% endfor %}

        <h3 class="bodyListHeaders">News:</h3>
        <hr class="horizontalSeparatorAlt">
        {% for listArticle in listNews|sort('publish_date', true)|slice(2,3) %} 
          <li>
            <div class="bodyListContent">
              <a href="{{ url(listArticle) }}" class="bodyListAnchor">
                <img src="{{ listArticle.small_header_image|imageSize(200) }}" alt="{{ listArticle.name }}" class="bodyListImg">
                <div class="bodyListItems centerText">
                  <h4>
                    {% if listArticle._type|lower === 'articles' %}
                      {{ listArticle.name }}
                    {% else %}
                      {{ listArticle.name }}
                    {% endif %}
                  </h4>
                  <p>
                    {{ listArticle.deck }}
                    {{ listArticle.summary_text|truncate(30) }}
                  </p>              
                </div>  
              </a>
            </div>
            {% if not loop.last %}
              <hr class="horizontalSeparator"></hr>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>

      <div class="upcommingDiv group">
        <h3>Opening This Weekend:</h3>
        <table id="jsonHolderOpening">
          <tr>
            <th></th>
            <th>Movie</th>
            <th>Relase Date</th>
          </tr>
        </table>

        <h3>Top Box Office:</h3>
        <table id="jsonHolderTop">
          <tr>
            <th></th>
            <th>Movie</th>
            <th>Relase Date</th>
          </tr>
        </table>

        <h3>Upcomming:</h3>
        <table id="jsonHolderUpcomming">
          <tr>
            <th></th>
            <th>Movie</th>
            <th>Relase Date</th>
          </tr>
        </table>
        <a href="http://www.rottentomatoes.com" target="_blank"><p>Data courtesy of Rottentomatoes.com</p></a>
      </div>



  </section>  

{% endblock %} 
