{# ------------------------------------------------------- #}

{# YOUR HOMEPAGE #}

{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}

{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}

{# ------------------------------------------------------- #}

{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/help/template-inheritance/ #}
{% extends "templates/partials/base.html" %}

{# This sets our page <title>. It will append "- Homepage" to the site title defined in base. #}
{% block title %}{% parent %} - Homepage{% endblock %}

{% block content %}

  <h1 class="centerText">Late Title Card Dot Com Brah</h1>

  <p class="centerText">This is a place holder Homepage ... located at /pages/index.html.</p>

  <p class="centerText"><a href="/cms/">Click here for the CMS</a></p>

  {# Grabs the data to list all the content types (set as multiple) from the CMS. #}
  {% set types = getTypes() %}

  {# If you have at least content page type, we show a list. #}
  {% if types|size !== 0 %}

    <h3 class="centerText">Content types you've created in the CMS so far.</h3>

    {% for type in types %}
      <p class="centerText"><a href="{{ url(type) }}">{{ type.name }}</a></p>
    {% endfor %}

  {% endif %}

{% endblock %} 


