{# ------------------------------------------------------- #}
{# INDIVIDUAL VIEW FOR EACH podcast #}
{# This page can use any data from http:localhost:2000/cms/#/form/podcast/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/help/template-inheritance/ #}
{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this podcast's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ item.name }}{% endblock %}

{% block content %}

  <div class="not-fullscreen background parallax not-overflow" id="articleHero" style="background-image:url('{{ item.header_image|imageSize(2048) }}');" data-img-width="1920" data-img-height="1080">
    <div class="content-a">
      <div class="content-b">
        <h2>
          {{ item.name }}
        </h2>
        <h3>
          {{ item.deck }}
        </h3>
        <h4>{{ item.last_updated|date('F d Y') }}</h4>
      </div>
    </div>
  </div>

  {# HTML5 audio player for your listening pleasure. #}
  <div class="center" style="height: 30px; width: 300px; color: white">
    <audio src="{{ item.audio_file.url }}" controls></audio>
  </div>
{% endblock %}
